@import '../../lib/assets/scss/variables.scss';

.project-page {
  padding: 0 2rem;

  @include onTabletAndMobile {
    padding: 0 1rem;
  }

  .container-project-content {
    position: fixed;
    top: 2rem;

    @include onTabletAndMobile {
      position: initial;
    }

    h1 {
      margin-top: 5rem;
    }

    .container-project-text {
      width: 40%;

      @include onTabletAndMobile {
        width: 100%;
      }

      @include onLargeDesktop {
        max-width: 1200px;
      }

      p {
        font-size: 16px;

        @include onTablet {
          width: 60%;
        }

        span {
          span {
            transform: translateY(100%);
          }
        }
      }
    }
  }

  .container-view-site-link {
    margin-top: 5rem;
  }

  .container-project-images {
    width: 50%;
    margin-left: auto;
    margin-top: 13rem;
    margin-bottom: 8rem;

    @include onTabletAndMobile {
      width: 100%;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
