@import './lib/assets/scss/variables.scss';

.home-page {
  height: 100%;
  width: 100%;
  padding-top: 8rem;

  @include onMobile {
    padding-top: 6rem;
  }

  h1 {
    margin-bottom: 5rem;
    text-align: center;

    @include onMobile {
      margin-bottom: 2rem;
    }

    span {
      margin: auto;
    }
  }

  .container-projects {
    width: 100%;
    padding: 0 6rem;
    display: grid;
    gap: 6rem 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8rem;

    @include onTablet {
      display: flex;
      flex-direction: column;
      padding: 4rem;
    }

    @include onMobile {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    li {
      width: 100%;
      height: 30rem;

      @include onMobile {
        height: 20rem;
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        z-index: 99;
        position: relative;
      }

      .container-project-infos {
        margin-top: 1rem;
        overflow: hidden;

        span {
          display: block;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}

.not-found-page {
  width: 100%;
  height: 100vh;
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
  }

  .container-internal-link {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
